*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY COLORS */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* NEUTRAL COLORS */
  --veryDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--veryLightGray);
}

body p {
  font-size: 15px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: var(--grayishBlue);
}

.header {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: var(--veryDarkBlue);
}

.boldHeader {
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: var(--veryDarkBlue);
}

.description {
  width: 80%;
  margin: 0 auto 3rem auto;
  line-height: 1.5;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.card {
  width: 80%;
  min-height: 16rem;
  margin: 0 auto 1rem auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px var(--grayishBlue);
}

.cardHeader {
  width: 80%;
  margin: 1rem auto 1rem auto;
  font-size: 25px;
  font-weight: 600;
  color: var(--veryDarkBlue);
}

.cardDescription {
  width: 80%;
  margin: 0 auto 2rem auto;
  line-height: 1.5;
}

.cardImg {
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.supervisor {
  border-top: 0.5rem solid var(--cyan);
}

.teamBuilder {
  border-top: 0.5rem solid var(--red);
}

.karma {
  border-top: 0.5rem solid var(--orange);
}

.calculator {
  border-top: 0.5rem solid var(--blue);
}

@media only screen and (min-width: 1440px) {
  .header {
    font-size: 30px;
  }

  .boldHeader {
    font-size: 30px;
  }

  .description {
    width: 30%;
  }

  .cardsContainer {
    width: 80%;
    margin: 0 auto 3rem auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto auto auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .card {
    width: 100%;
    margin-bottom: 0;
  }

  .supervisor {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .teamBuilder {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .karma {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .calculator {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
